#footer .nav-link {
  transition: box-shadow 1s;
  z-index: 0;
}
#footer .nav-link:hover {
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.5) 0 6px 10px;
  z-index: 10;
}

#about-me .list-group-item {
  border: none;
}

.carousel .card img {
  max-height: 60vh;
  object-fit: cover;
}

.carousel .card .btn {
  z-index: 999;
  position: relative;
}

.carousel .card .btn:hover {
  box-shadow: rgba(0,0,0,0.5) 0 6px 10px;
  transition: box-shadow 1s;
}

.row .card {
  height: 100%;
}

#hero img {
  border-radius: 100%;
  box-shadow: rgba(0,0,0,0.5) 0 6px 10px;
  max-width: 20%;
}

body {
  background-color: #f0f0f0;
}

.navbar {
  background-color: transparent !important;
}

header {
  background-color: #999;
}



#hero {
  background-color: #FDF7E4;
}

.btn-primary {
  background-color: #BBAB8C;
  border: none;
}

#skills {
  background-color: #DED0B6;
}